[MASTER]
py-version=3.12

[MESSAGES CONTROL]
disable=
    abstract-method,
    broad-exception-caught,
    consider-using-with,
    duplicate-code,
    fixme,
    invalid-name,
    missing-docstring,
    no-else-return,
    superfluous-parens,
    too-few-public-methods,
    too-many-ancestors,
    too-many-arguments,
    too-many-boolean-expressions,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-positional-arguments,
    too-many-public-methods,
    too-many-statements,
    wrong-import-order,
    no-else-raise,
    unsupported-membership-test,
    consider-using-f-string,
    unspecified-encoding

[FORMAT]
max-line-length=125

[REPORTS]
output-format=text
reports=no
score=no

[TYPECHECK]
ignored-modules=psycopg2,psycopg2.extras,packaging.version
